.education {
    background-color: white;
    padding: 20px;
    margin: 10px;
    max-width: 700px;
}

.title{
    padding: 10px;
    margin: 0px;
}

h1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
}