<section class="education">
  <div class="inner-section">
      <div class="title">
          <h1><b>Education</b></h1>
      </div>
      <div class="content">
        <ul class="list-unstyled">
            <li><span class="glyphicon glyphicon-education"></span><b> Ajayi Crowther University,OYO, Oyo state (B.sc Computer Science)</b>
              <p>Duration: 3yr(s)</p>
              <p><a href="http://www.acu.edu.ng" class="active" target="blank"><span class="glyphicon glyphicon-education"></span>View Website</a>
            </li>
            <li><span class="glyphicon glyphicon-education"></span><b>Kinsey Academy (A level) Ilorin.</b>
              <p>Duration: 1yr(s)</p>
            </li>
              <li><span class="glyphicon glyphicon-education"></span><b>Springland International School</b>
              <p>Duration: 6yr(s)</p>
            </li>
             <li><span class="glyphicon glyphicon-education"></span><b>Surulere Baptist church Nursery and Primary school</b>
              <p>Duration: 6yr(s)</p>
            </li>
        </ul>
      </div>
  </div>

</section>
