<section class="social">
  <div class="inner-social">
   <div class="title">
      <h1><b>Social</b></h1>
   </div> 
   <div class="content">  
     <ul class="list-unstyled list-inline">
        <li><a type="button" class="btn btn-lg" href="http://www.facebook.com/olajhidey"><span class="fa fa-facebook-official"></span></a></li>
        <li><a type="button" class="btn btn-lg" href="http://www.twitter.com/jhidey_quotes"><span class="fa fa-twitter"></span></a></li>
        <li><a type="button" class="btn btn-lg" href="http://www.github.com/olajhidey"><span class="fa fa-github"></span></a></li>
        <li><a type="button" class="btn btn-lg" href="http://www.bitbucket.org/olajhideyJava"><span class="fa fa-bitbucket"></span></a></li>
        <li><a type="button" class="btn btn-lg" href="http://www.instagram.com/holarjhidey"><span class="fa fa-instagram"></span></a></li>
        <li><a type="button" class="btn btn-lg" href="https://plus.google.com/108268596050740753959"><span class="fa fa-google-plus"></span></a></li>
        <li><a type="button" class="btn btn-lg" href="https://ng.linkedin.com/in/olajide-awoyinka-360329a1"><span class="	fa fa-linkedin"></span></a></li>
     </ul>
   </div>
    

  </div>  

</section>