.experience{
    background: white;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    max-width: 700px;
    min-height: 300px;
    min-width: 300px;
}

h1{
    font-size: 18px;
    font-weight: 700px;
    font-style: normal;
    padding: 10px;
    text-align: left

}

.company{
    font-size: 15px;
    color: gray;
    text-align: left;
}