<section class="experience">
    <div class="inner-section">
      <h1><b>Work Experience</b></h1>
        <ul class="list-unstyled">
            <li>
              <h1><b>Software Engineer intern</b> - <span class="company">Verge (4th April 2016 - 30 September 2016)</span></h1>
              <div class="content">
                Verge is a complete retail management solution offering both an in-store POS solution and 
                a cloud dashboard to enable you manage and track performance of all your outlets in real-time
                <a href="https://vergeapp.com"><span class="glyphicon glyphicon-link"></span> website</a>
              </div>
            </li>
            <li> 
                <h1><b>Software development intern(Java)</b> - <span class="company">New Horizon (15 July 2015 - 30 October 2015)</span></h1>
                <div class="content">
                  New Horizons is a leading IT training institution 
                  globally with 300 world-class IT training and education centres in 60 countries on 6 continents
                  <a href="https://newhorizonsnigeria.com"> <span  class="glyphicon glyphicon-link"></span>view website</a>
                </div>
            </li>
        </ul>
    </div>
</section>
 