<section class="language">
  <div class="inner section">
    <div class="title">
        <h1><b>Language</b></h1>
    </div>
    <div class="content">
      <ul class="list-unstyled">
          <li>English
              <ul class="list-unstyled list-inline">
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
              </ul>
             </li>
              <li>Yoruba
              <ul class="list-unstyled list-inline">
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                  <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
              </ul>
             </li>
              <li>Pidgin
              <ul class="list-unstyled list-inline">
                <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
                <li><span class="glyphicon glyphicon-star" style="color:gold"></span></li>
              </ul>
             </li>
      </ul>
    </div>  
  </div>

</section>
