<section class="contact">
 
  <h2 class="title"><b>Contact Olajide</b></h2>
  <ul class="list-unstyled">
  <li><span class="glyphicon glyphicon-map-marker" style="color:blue"></span> No 10, Abdul oni close, Akute, Ogun state</li>
      <li><span class="glyphicon glyphicon-envelope" style="color:red"></span> Olajideawoyinka@gmail.com</li>
      <li><span class="glyphicon glyphicon-envelope" style="color:purple"></span> Olajideawoyinka@yahoo.com</li>
      <li><span class="glyphicon glyphicon-phone"> </span> +(234) 8091036281</li>
      <li><span class="glyphicon glyphicon-phone"></span> +(234) 9038279486</li>
  </ul>
  
</section>
