.contact {
    background-color: white;
    padding: 10px;
    margin: 10px;
    min-height: 300px;
    min-width: 250px;
    max-height: 300px;
    max-width: 350px;
}

.title{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 700px;
    padding-bottom: 10px;
}
li{
    padding: 10px;
}