<section class="skill">
<div class="section-inner">
    <div class="section-title">
        <h1><b>Skill</b></h1>
    </div>
    <div class="content">
       <div class="skill1">
          <label>Java</label>
          <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
               aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
              </div>
          </div>
        </div>
        <div class="skill2">
          <label>HTML5</label>
          <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
              </div>
          </div>
        </div>
         <div class="skill3">
          <label>CSS</label>
          <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
               aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
              </div>
          </div>
        </div>
         <div class="skill4">
          <label>Ionic Framework</label>
          <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
               aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
              </div>
          </div>
        </div>
         <div class="skill5">
          <label>Angular</label>
          <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
               aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
              </div>
          </div>
        </div>
        <div class="skill6">
          <label>SQL</label>
          <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
               aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
              </div>
          </div>
        </div>
    </div>
</div>  

</section>