.skill {
    background-color: white;
    padding: 20px;
    min-height: 500px;
    min-width: 300px;
    max-height: 450px;
    min-width: 300px;
}

.section-title{
    padding: 10px;
    margin: 0px;
}

h1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
}