<!--<header class="header">
    <div class="container">
         <img class="img-circle profile-image img-responsive pull-left imhpop" src="../../assets/img/ola.jpg">
         <div class="profile-content pull-left">
             <h1 class="name">Awoyinka Olajide</h1>
              <h2 class="desc">Full-Stack Web Developer</h2>
        </div>
    </div>
</header>-->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-2">
                <img class="img-circle profile-image img-responsive" src="../../assets/img/ola.jpg"> 
            </div>
            <div class="col-sm-10">
                <h1>Awoyinka Olajide</h1>
                <h2>Full-Stack Web developer</h2>
                <div><span class="glyphicon glyphicon-map-marker"></span> Lagos, Nigeria</div>
                <div>
                <label class="label label-success">HTML5</label>
                <label class="label label-info">IONIC</label>
                <label class="label label-warning">Angular</label>
                <label class="label label-danger">Mobile Dev</label>
                <label class="label label-primary">CSS</label>
        </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-8">
            <app-profile></app-profile>
        </div>

        <div class="col-sm-4">
            <app-contact></app-contact>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-8">
                <app-experience></app-experience>
            </div>
            <div class="col-sm-4">
                <app-education></app-education>
             </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <app-project></app-project>
            </div>
             <!--<div class="col-sm-4">
                <app-language></app-language>
            </div>-->
            <div class="col-sm-4">
                <app-skill></app-skill>
             </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-social></app-social>
            </div>
             <div class="col-sm-4">
                <app-language></app-language>
            </div>
            <div class="col-sm-4">
                  <app-credit></app-credit>
             </div>
        </div>
       
  <!--<app-social></app-social>
  <app-credit></app-credit>-->
   
     <!--<app-project></app-project>-->

</div>
