.header {
    text-align: center;
}
.header{
    padding: 30px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header .profile-image {
    margin: 30px auto;
}
.header .profile-content {
    float: none !important;
    text-align: center;
}

.container-fluid{
    background: #DAE3E7;
}

.header, .profile-content,.name {
    color: #49515a;
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 700;
}

.header, .profile-content,.desc {
    color: #778492;
    font-family: "Roobto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.pull-left {
    float:left!important;
}
.img-circle{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}
img {
    vertical-align: middle;
}

img {
    border: 0;
}

h1{
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 700;  
}

h2 {
    color: #778492;
    font-family: "Roobto", sans-serif;
    font-size: 24px;
}

app-contact {
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: lightblue;
    padding-top: 20px;
}