.project {
    background-color: white;
    padding: 10px;
    margin: 20px;
    min-height: 500px;
    min-width: 250px;
    max-width: 746px;
}


.section-header{
    padding: 10px;
    margin: 0px;
}

h1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
}

img{
    height: 300;
    width: 300
   
}

.proj-content{
    font-size: 12px;
    font-weight: 200px;
    text-align: center;
}
