<section class="project">
    <div class="section-inner">
      <div class="section-header">
          <h1><b>Completed Project</b></h1>
      </div>  
      <div class="content">
          <div class="row">
                <div class="col-sm-6">
                    <md-card>
                        <md-card-header>
                            <md-card-title><b>Kara Kata</b></md-card-title>
                        </md-card-header>
                        <img mdCardImage src="../../assets/img/kara.png">
                        <md-card-content class="proj-content">
                        <p style="font-size: 13px; font-family: Arial, Helvetica, sans-serif">Kara Kata is a Mobile application that allows Retailers and Wholesaler monitor stock levels
                        from the comfort of their mobile phones.</p>
                        </md-card-content>
                        <md-card-actions align="end">
                            <a class="btn btn-primary" href="../../assets/app/android-debug.apk">Get App</a>         
                        </md-card-actions>
                    </md-card>
                </div>
                <div class="col-sm-6">
                    <md-card>
                        <!--<md-card-header>
                            <md-card-title><b>Kara Kata</b></md-card-title>
                        </md-card-header>-->
                        <img mdCardImage src="../../assets/img/dev.png">
                        <md-card-content class="proj-content">
                        <p style="font-size: 13px; font-family: Arial, Helvetica, sans-serif"><b>Other Project would be uploaded shortly.</b></p>
                        </md-card-content>
                        <!--<md-card-actions align="end">
                            <a class="btn btn-primary" href="../../assets/app/android-debug.apk">Get App</a>         
                        </md-card-actions>-->
                    </md-card>
                </div>
                
          </div>
          
      </div>
    </div>
</section>