<section class="profile">
  <h3 class="name"><b>About Olajide</b></h3>
  <div>
    <p class="word">Olajide is a native of Nigeria, he presently stays at Lagos. Olajide is presently working on a mobile inventory managemtent system
      which has to do with retailer and wholesaler monitoring their stock at real-time. Olajide is a graduate of Ajayi crowther university after completing Bachelors in Computer science Programme.
    </p>
    <p class="word">Olajide loves listening to good music, watching movies, playing football, playing video games, Travelling , Meeting friends and not to forget
      a lit bit of dancing
    </p>
    <p class="word">
      Olajide loves programming 
    </p>
    <p class="word">
      Olajide is a Manchester United fan.
    </p>
  </div>

</section>