.profile {
    max-height: 900px;
    min-height: 105px;
    max-width: 250px;
    max-width: 700px;
    padding: 20px;
    background-color: white;
}

.name{
    font-size: 20x;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 700px;
    padding-bottom: 10px;
}

.word{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}