<section class="credit">
  <div class="inner-section">
      <h1><b>Credit</b></h1>
      <div class="content">
        <ul class="list-unstyled">
            <li><a href="https://www.w3schools.com/bootstrap/default.asp"><span class="fa fa-chain" style="color:blue"></span>Bootstrap</a></li>
            <li><a href="https://material.angular.io/"><span class="fa fa-chain" style="color:blue"></span> Material</a></li>
            <li><a href="http://sam-psarmmiey.appspot.com/"><span class="fa fa-chain" style="color:blue"></span>Psarmmiey</a></li>
            <li><a href="http://fontawesome.io/"><span class="fa fa-chain" style="color:blue"></span>FontAwesome</a></li>
        </ul>
      </div>
  </div>
</section>