.credit {
    background-color: white;
    margin: 20px;
    padding: 10px;
    max-width: 500px;
    max-height: 300px;
}

h1{
    font-size: 20px;
    font-weight: 200px;
    padding-bottom: 10px;
}

a {
    color: black;
}

ul, li{
    padding: 10px;
}