/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
    color: #434343;
    /*background: #DAE3E7;*/
    font-size: 16px;

    -webkit-font-smoothing: antialiased
}

footer{
    background: #32383e;
    color: gray;
}